<%
    const menu = [
        {
            name: 'Home',
            page: 'index',
            link: '#'
        },
        {
            name: 'About',
            page: 'about',
            link: '#'
        },
        {
            name: 'Services',
            page: 'services',
            link: '#'
        },
        {
            name: 'Portfolio',
            submenu: [
                {
                    name: 'Portfolio 1 column page',
                    page: 'portfolio',
                    link: ''
                },
                {
                    name: 'Portfolio 2 column page',
                    page: 'portfolio2',
                    link: '#'
                },
                {
                    name: 'Portfolio 3 column page',
                    page: 'portfolio3',
                    link: '#'
                }
            ]
        },
        {
            name: 'Blog',
            page: 'blog',
            link: '#'
        },
        {
            name: 'Features',
            page: 'features',
            link: '#'
        },
        {
            name: 'Contact',
            page: 'contacts',
            link: '#'
        },
    ]
%>

<header class="header header-mobile">
    <%- include('./__header_mobile', {menu, page}) %>
    <div class="header__body">
        <div class="header__column header__column_logo">
            <a href="#">
                <%- include('../logo/logo') %>
            </a>
        </div>
        <div class="header__column header__column_nav">
            <div class="burger">
                <span class="burger__line"></span>
            </div>
            <nav class="nav">
                <% for (let item of menu) { if (item.submenu) { %>
                    <li class="nav__item btn btn_link portfolio"><%= item.name%>
                        <ul class='header__submenu'>
                            <% for (let subitem of item.submenu) { %>
                                <li class="submenu__item"><%= subitem.name %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav__item btn btn_secondary"><%= item.name %></li>
                <% }} %>
                
                <li class="nav__item btn btn_link icon"><i class="fa fa-search"></i></li>
            </nav>
        </div>
    </div>
</header>