<% 
const footerLinks = { 
  company: [
    {
      name:'About',
      href: '#'
    },
    {
      name:'FAQ',
      href: '#'
    },
    {
      name:'Contact',
      href: '#'
    },
    {
      name:'Terms',
      href: '#'
    },
    {
      name:'Privacy',
      href: '#'
    },
    {
      name:'Testimonials',
      href: '#'
    }
  ],
  community:[
    {
      name:'Blog',
      href: '#'
    },
    {
      name:'Forum',
      href: '#'
    },
    {
      name:'Support',
      href: '#'
    },
    {
      name:'Newsletter',
      href: '#'
    }
  ]
}; 

const blogData = [
  {
    title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.',
    date: '26 May, 2013'
  },
  {
    title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.',
    date: '26 May, 2013'
  }
]
%>

<footer class="footer">
  <div class="footer__container container">
    <div class="row">
      <div class="footer__col-1 row__col-4">
        <div class="footer__logo-wrapp">
          <%- include('../logo/logo') %>
        </div>
        <p class="footer__p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
          euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem,
          adipiscing in adipiscing et, interdum nec.
        </p>
        <span class="footer__contact">
          Phone: <a href="#" class="footer__link footer__contact_big">182 2569 5896</a>
        </span>
        <span class="footer__contact">
          e-mail: <a href="#" class="footer__link footer__contact_big">info@modu.versus</a>
        </span>
      </div>
      <div class="footer__col-2 row__col-2">
        <h3 class="footer__title title-h3">Company</h3>
        <ul class="footer__list">
          <% for (let link of footerLinks.company) { %>
            <li class="footer__list-item"><a class="footer__link" href="<%= link.href %>"><%= link.name %></a></li>
          <% } %>
        </ul>
      </div>
      <div class="footer__col-3 row__col-2">
        <h3 class="footer__title title-h3">Community</h3>
        <ul class="footer__list">
          <% for (let link of footerLinks.community) { %>
            <li class="footer__list-item"><a class="footer__link" href="<%= link.href %>"><%= link.name %></a></li>
          <% } %>
        </ul>
      </div>
      <div class="footer__col-4 row__col-4">
        <h3 class="footer__title footer__title_italic title-h3">
          from the <span>blog</span>
        </h3>
        <% for (let blog of blogData) { %>
        <div class="footer__blog-row row">
          <div class="footer__blog-img-wrapp row__col-3">
            <div class="footer__blog-img"><i class="fa fa-picture-o"></i></div>
          </div>
          <div class="row__col-9">
            <div class="footer__blog-info">
              <p class="footer__blog-title"><%= blog.title %></p>
              <span class="footer__blog-date"><%= blog.date %></span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="footer__footer">
    <div class="footer__wrapp container">
      <div class="footer__footer_left"><span>2013 ModusVersus</span></div>
      <div class="footer__footer_right">
        <div class="footer__socials">
          <a href="#" class="footer__link footer__socials-link"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="#" class="footer__link footer__socials-link"
            ><i class="fa fa-google-plus-official"></i
          ></a>
          <a href="#" class="footer__link footer__socials-link"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="#" class="footer__link footer__socials-link"><i class="fa fa-rss"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
